<launch>
  <arg name="use_robot_name"  default="open_manipulator_with_tb3"/>

  <arg name="marker_id"       default="8"/>

  <arg name="distance_btw_base_to_ar_marker"       default="0.170"/>
  <arg name="rotate_after_pick_up"                 default="175.0"/>

  <node pkg="open_manipulator_with_tb3_tools" type="controller_for_pick_and_place" name="controller_for_pick_and_place" output="screen">
    <param name="position_x_in_front_up_an_object"     value="-1.393"/>
    <param name="position_y_in_front_up_an_object"     value="3.545"/>
    <param name="position_z_in_front_up_an_object"     value="0.0"/>

    <param name="orientation_w_in_front_up_an_object"     value="0.705"/>
    <param name="orientation_x_in_front_up_an_object"     value="0.0"/>
    <param name="orientation_y_in_front_up_an_object"     value="0.0"/>
    <param name="orientation_z_in_front_up_an_object"     value="0.709"/>

    <param name="position_x_in_front_up_a_box"     value="0.760"/>
    <param name="position_y_in_front_up_a_box"     value="3.670"/>
    <param name="position_z_in_front_up_a_box"     value="0.0"/>

    <param name="orientation_w_in_front_up_a_box"     value="0.705"/>
    <param name="orientation_x_in_front_up_a_box"     value="0.0"/>
    <param name="orientation_y_in_front_up_a_box"     value="0.0"/>
    <param name="orientation_z_in_front_up_a_box"     value="0.709"/>

    <param name="robot_name"  value="$(arg use_robot_name)"/>

    <param name="marker_id"  value="$(arg marker_id)"/>

    <param name="distance_btw_base_to_ar_marker"       value="$(arg distance_btw_base_to_ar_marker)"/>
    <param name="rotate_after_pick_up"                 value="$(arg rotate_after_pick_up)"/>
  </node>
</launch>