<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="use_gazebo"	   default="true" />
  <arg name="open_model"     default="false" />
  <arg name="open_rviz"      default="false" />
  <arg name="use_ar_marker"  default="false" />
  <arg name="use_gui"        default="false" />
  <arg name="debug"          default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <group if="$(arg open_model)">
    <include file="$(find open_manipulator_with_tb3)/launch/open_manipulator_with_tb3_model.launch">
      <arg name="model"      value="$(arg model)" />
      <arg name="use_gazebo" value="$(arg use_gazebo)" />
      <arg name="open_rviz"  value="false" />
      <arg name="use_gui"    value="$(arg use_gui)" />
    </include>
  </group>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <group if="$(eval model == 'pi')">
    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>
  
  <group unless="$(eval model == 'pi')">
      <include file="$(find open_manipulator_with_tb3_waffle_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>

  <group if="$(arg open_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_with_tb3_tools)/rviz/open_manipulator_with_tb3_manipulation.rviz"/>
  </group>

  <!-- OpenManipultor Position controller-->
  <include file="$(find open_manipulator_position_ctrl)/launch/open_manipulator_position_controller.launch">
    <arg name="use_gazebo"     value="$(arg use_gazebo)"/>
    <arg name="use_robot_name" value="open_manipulator_with_tb3"/>
    <arg name="init_position"  value="false"/>
  </include>

  <group if="$(arg use_ar_marker)">
    <include file="$(find open_manipulator_perception)/launch/ar_pose.launch"/>
  </group>
</launch>
