#http://linux-tips.org/t/prevent-modem-manager-to-capture-usb-serial-devices/284/2

KERNEL=="ttyUSB*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"
