<launch>

  <arg name="use_gazebo"	   default="false" />
  <arg name="debug"          default="false" />
  <arg name="use_gui"        default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom base_footprint 100" />

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg use_gui)"/>
    <rosparam param="source_list" if="$(arg use_gazebo)">["open_manipulator_chain_with_tb3/joint_states"]</rosparam>
    <rosparam param="source_list" unless="$(arg use_gazebo)">["open_manipulator_chain_with_tb3/present_joint_states"]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- OpenManipultor Position controller-->
<!--  <include file="$(find open_manipulator_position_ctrl)/launch/pick_place_ctrl.launch">
    <arg name="use_gazebo" value="$(arg use_gazebo)"/>
  </include>-->

</launch>
