KERNEL=="ttyACM*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"
KERNEL=="ttyUSB*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"
