<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:macro name="hx5_d20_right" params="prefix">
      <xacro:property name="meshes_file_direction" value="package://open_manipulator_description/meshes/hx5_d20_rev2/hx5_d20_right/" />
      <link name="${prefix}hx5_d20_right_base">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_base_unit.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_base_unit.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="-2.5954623e-03 1.7926275e-03 6.2957652e-02" />
            <mass value="3.0185182e-01" />
            <inertia ixx="5.4241294e-04" ixy="9.2340981e-06" ixz="-2.4709097e-06"
            iyy="3.8933294e-04" iyz="-1.6746740e-06"
            izz="2.1011567e-04" />
         </inertial>
      </link>
      <!-- THUMB -->
      <joint name="${prefix}finger_r_joint1" type="revolute">
         <parent link="${prefix}hx5_d20_right_base" />
         <child link="${prefix}finger_r_link1" />
         <origin xyz="-0.0125 0.03493 0.04475" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-1.57" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link1">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="2.3807543e-02 1.3152378e-03 4.6035452e-04" />
            <mass value="4.0868482e-02" />
            <inertia ixx="2.8819304e-06" ixy="1.1855237e-06" ixz="4.4930159e-07"
            iyy="9.4333399e-06" iyz="-9.2023407e-08"
            izz="9.6512629e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint2" type="revolute">
         <parent link="${prefix}finger_r_link1" />
         <child link="${prefix}finger_r_link2" />
         <origin xyz="0.039 0.0 0.0" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="0.0" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link2">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_mcp2.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_mcp2.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="-3.5667920e-04 1.3999343e-02 3.5920711e-04" />
            <mass value="1.1760611e-02" />
            <inertia ixx="1.3023455e-06" ixy="5.3492870e-08" ixz="-1.5067505e-09"
            iyy="1.0556381e-06" iyz="5.3427868e-08"
            izz="1.3024709e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint3" type="revolute">
         <parent link="${prefix}finger_r_link2" />
         <child link="${prefix}finger_r_link3" />
         <origin xyz="0.0 0.028 0.0" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link3">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_ip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_ip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="-1.0146203e-04 1.1343515e-02 4.0805550e-06" />
            <mass value="3.4689700e-02" />
            <inertia ixx="5.0370173e-06" ixy="1.1035638e-07" ixz="-5.4161055e-10"
            iyy="2.2580703e-06" iyz="8.5483839e-10"
            izz="5.4029785e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint4" type="revolute">
         <parent link="${prefix}finger_r_link3" />
         <child link="${prefix}finger_r_link4" />
         <origin xyz="0.0 0.0355 0.0" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link4">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_thumb_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="6.6604979e-05 1.6824458e-02 2.2398502e-04" />
            <mass value="4.3875236e-02" />
            <inertia ixx="1.1160744e-05" ixy="-8.5593479e-09" ixz="-1.7171147e-09"
            iyy="2.8079428e-06" iyz="-3.0446511e-07"
            izz="1.1343106e-05" />
         </inertial>
      </link>
      <joint name="${prefix}finger_end_r_joint1" type="fixed">
         <parent link="${prefix}finger_r_link4" />
         <child link="${prefix}finger_end_r_link1" />
         <origin xyz="0.0 0.03975 0.0" rpy="0 0 0" />
      </joint>
      <link name="${prefix}finger_end_r_link1">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01" />
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1"/>
            </material>
         </visual>
      </link>
      <!-- INDEX -->
      <joint name="${prefix}finger_r_joint5" type="revolute">
         <parent link="${prefix}hx5_d20_right_base" />
         <child link="${prefix}finger_r_link5" />
         <origin xyz="-0.0015 0.03608 0.10275" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link5">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="5.193401000e-03 -1.816308100e-05 2.111550700e-02" />
            <mass value="3.880441100e-02" />
            <inertia ixx="3.524993200e-06" ixy="1.364133900e-08" ixz="-3.766210300e-07"
            iyy="5.792157500e-06" iyz="1.153419900e-09"
            izz="4.712679800e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint6" type="revolute">
         <parent link="${prefix}finger_r_link5" />
         <child link="${prefix}finger_r_link6" />
         <origin xyz="0.0165 0.0 0.0235" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link6">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383300e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint7" type="revolute">
         <parent link="${prefix}finger_r_link6" />
         <child link="${prefix}finger_r_link7" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link7">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383900e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint8" type="revolute">
         <parent link="${prefix}finger_r_link7" />
         <child link="${prefix}finger_r_link8" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link8">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="7.102508500e-04 4.723840800e-04 1.809864000e-02" />
            <mass value="1.363720100e-02" />
            <inertia ixx="2.232432600e-06" ixy="2.731013800e-09" ixz="-1.436237900e-07"
            iyy="2.018806500e-06" iyz="8.149987600e-08"
            izz="1.078660600e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_end_r_joint2" type="fixed">
         <parent link="${prefix}finger_r_link8" />
         <child link="${prefix}finger_end_r_link2" />
         <origin xyz="0.0 0.0 0.02425" rpy="0 0 0" />
      </joint>
      <link name="${prefix}finger_end_r_link2">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01" />
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1"/>
            </material>
         </visual>
      </link>
      <!-- MIDDLE -->
      <joint name="${prefix}finger_r_joint9" type="revolute">
         <parent link="${prefix}hx5_d20_right_base" />
         <child link="${prefix}finger_r_link9" />
         <origin xyz="-0.0015 0.00908 0.11053" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link9">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="5.193401000e-03 -1.816308100e-05 2.111550700e-02" />
            <mass value="3.880441100e-02" />
            <inertia ixx="3.524993200e-06" ixy="1.364133900e-08" ixz="-3.766210300e-07"
            iyy="5.792157500e-06" iyz="1.153419900e-09"
            izz="4.712679800e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint10" type="revolute">
         <parent link="${prefix}finger_r_link9" />
         <child link="${prefix}finger_r_link10" />
         <origin xyz="0.0165 0.0 0.0235" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link10">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383300e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint11" type="revolute">
         <parent link="${prefix}finger_r_link10" />
         <child link="${prefix}finger_r_link11" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link11">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383900e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint12" type="revolute">
         <parent link="${prefix}finger_r_link11" />
         <child link="${prefix}finger_r_link12" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link12">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="7.102508500e-04 4.723840800e-04 1.809864000e-02" />
            <mass value="1.363720100e-02" />
            <inertia ixx="2.232432600e-06" ixy="2.731013800e-09" ixz="-1.436237900e-07"
            iyy="2.018806500e-06" iyz="8.149987600e-08"
            izz="1.078660600e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_end_r_joint3" type="fixed">
         <parent link="${prefix}finger_r_link12" />
         <child link="${prefix}finger_end_r_link3" />
         <origin xyz="0.0 0.0 0.02425" rpy="0 0 0" />
      </joint>
      <link name="${prefix}finger_end_r_link3">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01" />
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1"/>
            </material>
         </visual>
      </link>
      <!-- RING -->
      <joint name="${prefix}finger_r_joint13" type="revolute">
         <parent link="${prefix}hx5_d20_right_base" />
         <child link="${prefix}finger_r_link13" />
         <origin xyz="-0.0015 -0.01792 0.10475" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link13">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="5.193401000e-03 -1.816308100e-05 2.111550700e-02" />
            <mass value="3.880441100e-02" />
            <inertia ixx="3.524993200e-06" ixy="1.364133900e-08" ixz="-3.766210300e-07"
            iyy="5.792157500e-06" iyz="1.153419900e-09"
            izz="4.712679800e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint14" type="revolute">
         <parent link="${prefix}finger_r_link13" />
         <child link="${prefix}finger_r_link14" />
         <origin xyz="0.0165 0.0 0.0235" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link14">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383300e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint15" type="revolute">
         <parent link="${prefix}finger_r_link14" />
         <child link="${prefix}finger_r_link15" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link15">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383900e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint16" type="revolute">
         <parent link="${prefix}finger_r_link15" />
         <child link="${prefix}finger_r_link16" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link16">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="7.102508500e-04 4.723840800e-04 1.809864000e-02" />
            <mass value="1.363720100e-02" />
            <inertia ixx="2.232432600e-06" ixy="2.731013800e-09" ixz="-1.436237900e-07"
            iyy="2.018806500e-06" iyz="8.149987600e-08"
            izz="1.078660600e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_end_r_joint4" type="fixed">
         <parent link="${prefix}finger_r_link16" />
         <child link="${prefix}finger_end_r_link4" />
         <origin xyz="0.0 0.0 0.02425" rpy="0 0 0" />
      </joint>
      <link name="${prefix}finger_end_r_link4">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01" />
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1"/>
            </material>
         </visual>
      </link>
      <!-- PINKY -->
      <joint name="${prefix}finger_r_joint17" type="revolute">
         <parent link="${prefix}hx5_d20_right_base" />
         <child link="${prefix}finger_r_link17" />
         <origin xyz="-0.0015 -0.04492 0.08575" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link17">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_mcp.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="5.193401000e-03 -1.816308100e-05 2.111550700e-02" />
            <mass value="3.880441100e-02" />
            <inertia ixx="3.524993200e-06" ixy="1.364133900e-08" ixz="-3.766210300e-07"
            iyy="5.792157500e-06" iyz="1.153419900e-09"
            izz="4.712679800e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint18" type="revolute">
         <parent link="${prefix}finger_r_link17" />
         <child link="${prefix}finger_r_link18" />
         <origin xyz="0.0165 0.0 0.0235" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link18">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_pip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383300e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint19" type="revolute">
         <parent link="${prefix}finger_r_link18" />
         <child link="${prefix}finger_r_link19" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link19">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_dip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="4.080555000e-06 1.014620300e-04 2.415648500e-02" />
            <mass value="3.468970000e-02" />
            <inertia ixx="5.402978500e-06" ixy="5.416105500e-10" ixz="-8.548383900e-10"
            iyy="5.037017300e-06" iyz="1.103563800e-07"
            izz="2.258070300e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_r_joint20" type="revolute">
         <parent link="${prefix}finger_r_link19" />
         <child link="${prefix}finger_r_link20" />
         <origin xyz="0.0 0.0 0.0355" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
         <dynamics damping="0.05" />
      </joint>
      <link name="${prefix}finger_r_link20">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/hx5_d20_finger_tip.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="grey">
               <color rgba="0.2 0.2 0.2 1" />
            </material>
         </collision>
         <inertial>
            <origin xyz="7.102508500e-04 4.723840800e-04 1.809864000e-02" />
            <mass value="1.363720100e-02" />
            <inertia ixx="2.232432600e-06" ixy="2.731013800e-09" ixz="-1.436237900e-07"
            iyy="2.018806500e-06" iyz="8.149987600e-08"
            izz="1.078660600e-06" />
         </inertial>
      </link>
      <joint name="${prefix}finger_end_r_joint5" type="fixed">
         <parent link="${prefix}finger_r_link20" />
         <child link="${prefix}finger_end_r_link5" />
         <origin xyz="0.0 0.0 0.02425" rpy="0 0 0" />
      </joint>
      <link name="${prefix}finger_end_r_link5">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01" />
            </geometry>
            <material name="red">
            <color rgba="1.0 0.0 0.0 1"/>
            </material>
         </visual>
      </link>
   </xacro:macro>
</robot>
