<launch>

  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="marker_size" value="6.0" />
    <arg name="max_new_marker_error" value="0.08" />
    <arg name="max_track_error" value="0.2" />
    <arg name="cam_image_topic" value="/camera/rgb/image_raw" />
    <arg name="cam_info_topic" value="/camera/rgb/camera_info" />
    <arg name="output_frame" value="/base_link" />
  </include>

</launch>
