<launch>
  <arg name="use_robot_name"   default="open_manipulator"/>
  <arg name="use_platform"     default="true"/>
  <arg name="init_position"    default="true"/>

  <node name="moveit_bridge" pkg="open_manipulator_moveit_bridge" type="moveit_bridge" output="screen"
  ns="$(arg use_platform)" args="joint1 joint2 joint3 joint4 grip_joint grip_joint_sub">
    <param name="init_position"       value="$(arg init_position)"/>
    <param name="robot_name"          value="$(arg use_robot_name)"/>
  </node>
</launch>
