<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="open_manipulator_x_gazebo" params="prefix">

  <xacro:macro name="SimpleTransmission" params="trans joint actuator">
    <transmission name="${trans}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${actuator}">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="Link" params="reference">
    <gazebo reference="${reference}">
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <mu1>30.0</mu1>
      <mu2>30.0</mu2>
      <maxVel>1.0</maxVel>
      <minDepth>0.001</minDepth>
    </gazebo>
  </xacro:macro>

  <xacro:Link reference="${prefix}link1"/>
  <xacro:Link reference="${prefix}link2"/>
  <xacro:Link reference="${prefix}link3"/>
  <xacro:Link reference="${prefix}link4"/>
  <xacro:Link reference="${prefix}link5"/>

  <xacro:Link reference="${prefix}gripper_left_link"/>
  <xacro:Link reference="${prefix}gripper_right_link"/>

  <gazebo reference="${prefix}end_effector_link">
  </gazebo>

  <xacro:SimpleTransmission trans="${prefix}trans1" joint="${prefix}joint1" actuator="${prefix}actuator1" />
  <xacro:SimpleTransmission trans="${prefix}trans2" joint="${prefix}joint2" actuator="${prefix}actuator2" />
  <xacro:SimpleTransmission trans="${prefix}trans3" joint="${prefix}joint3" actuator="${prefix}actuator3" />
  <xacro:SimpleTransmission trans="${prefix}trans4" joint="${prefix}joint4" actuator="${prefix}actuator4" />
  <xacro:SimpleTransmission trans="${prefix}trans5" joint="${prefix}gripper_left_joint" actuator="${prefix}actuator5" />
  <xacro:SimpleTransmission trans="${prefix}trans6" joint="${prefix}gripper_right_joint" actuator="${prefix}actuator6" />

  <gazebo reference="${prefix}gripper_camera_link">
    <sensor name="camera" type="camera">
      <camera>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>15</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
        <optical_frame_id>${prefix}gripper_camera_link_optical</optical_frame_id>
        <camera_info_topic>${prefix}gripper_camera/camera_info</camera_info_topic>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>${prefix}gripper_camera/image</topic>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
