<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="omy_f3m_end_unit_system" params="name prefix port_name:=^|/dev/ttyAMA4 use_sim:=^|false use_mock_hardware:=^|false mock_sensor_commands:=^|false">
    <ros2_control name="${name}" type="system" is_async="true">
      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_mock_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
            <param name="mock_sensor_commands">${mock_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_mock_hardware}">
            <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
            <param name="port_name">${port_name}</param>
            <param name="baud_rate">4000000</param>
            <param name="error_timeout_ms">500</param>
            <param name="dynamixel_model_folder">/param/dxl_model</param>
            <param name="number_of_joints">1</param>
            <param name="number_of_transmissions">1</param>
            <param name="disable_torque_at_init">true</param>
            <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
            <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
            <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
            <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
            <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}rh_r1_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <xacro:if value="$(arg use_sim)">
        <joint name="${prefix}rh_r2">
          <param name="mimic">${prefix}rh_r1_joint</param>
          <param name="multiplier">1</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <state_interface name="torque_enable"/>
          <state_interface name="hardware_state"/>
        </joint>
        <joint name="${prefix}rh_l1">
          <param name="mimic">${prefix}rh_r1_joint</param>
          <param name="multiplier">1</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <state_interface name="torque_enable"/>
          <state_interface name="hardware_state"/>
        </joint>
        <joint name="${prefix}rh_l2">
          <param name="mimic">${prefix}rh_r1_joint</param>
          <param name="multiplier">1</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
          <state_interface name="torque_enable"/>
          <state_interface name="hardware_state"/>
        </joint>
      </xacro:if>

      <gpio name="dxl7">
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Present Current"/>
        <param name="type">virtual_dxl</param>
        <param name="ID">7</param>
        <param name="model_num">231</param>
        <param name="comm_id">210</param>
        <param name="Goal Velocity">2970</param>
        <param name="Goal Current">661</param>
      </gpio>

      <gpio name="omy_end">
        <!-- <command_interface name="R LED"/>
        <command_interface name="G LED"/>
        <command_interface name="B LED"/> -->
        <state_interface name="Button Status"/>
        <param name="type">controller</param>
        <param name="ID">210</param>
        <param name="Baud Rate (Bus)">6</param>
        <param name="Tool Analog Enable">0</param>
        <param name="Tool Baud Rate">8</param>
        <param name="Tool ID">1</param>
        <param name="Tool Protocol">0</param>
        <param name="R LED">200</param>
        <param name="G LED">200</param>
        <param name="B LED">120</param>
        <param name="SyncTable Read Address">634</param>
        <param name="SyncTable Read Size">16</param>
        <param name="SyncTable Write Address">665</param>
        <param name="SyncTable Write Size">12</param>
        <param name="SyncTable Enable">1</param>
      </gpio>

    </ros2_control>
  </xacro:macro>
</robot>
