<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="omy_3m_end_unit_system" params="name prefix port_name:=^|/dev/ttyAMA4 use_sim:=^|false use_fake_hardware:=^|false fake_sensor_commands:=^|false">
    <ros2_control name="${name}" type="system" is_async="true">
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>fake_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">${fake_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
            <param name="port_name">${port_name}</param>
            <param name="baud_rate">4000000</param>
            <param name="error_timeout_ms">500</param>
            <param name="dynamixel_model_folder">/param/dxl_model</param>
            <param name="number_of_joints">0</param>
            <param name="number_of_transmissions">0</param>
            <param name="disable_torque_at_init">true</param>
            <param name="transmission_to_joint_matrix"></param>
            <param name="joint_to_transmission_matrix"></param>
            <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
            <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
            <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
            <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
            <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <gpio name="omy_end">
        <param name="type">controller</param>
        <param name="ID">210</param>
        <param name="Baud Rate (Bus)">6</param>
        <param name="Tool Analog Enable">0</param>
        <param name="Tool Baud Rate">8</param>
        <param name="Tool ID">1</param>
        <param name="Tool Protocol">0</param>
        <param name="R LED">200</param>
        <param name="G LED">200</param>
        <param name="B LED">120</param>
        <param name="SyncTable Read Address">634</param>
        <param name="SyncTable Read Size">16</param>
        <param name="SyncTable Write Address">665</param>
        <param name="SyncTable Write Size">12</param>
        <param name="SyncTable Enable">1</param>
      </gpio>

    </ros2_control>
  </xacro:macro>
</robot>
