<?xml version="1.0" ?>

<launch>
  <arg name="use_gazebo"	   default="false" />
  <arg name="use_robot_name" default="open_manipulator_chain_with_tb3"/>

  <param name="gazebo"            value="$(arg use_gazebo)" type="bool"/>
  <param name="robot_name"        value="$(arg use_robot_name)"/>
  <node name="open_manipulator_pick_place_ctrl" pkg="open_manipulator_position_ctrl" type="pick_place_controller" required="true" output="screen"/>
</launch>
