<?xml version="1.0" ?>
<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find open_manipulator_with_tb3)/urdf/open_manipulator_chain_with_tb3.xacro'"/>

  <!-- Send joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_with_tb3)/launch/open_manipulator_with_tb3.rviz"/>
</launch>

