<?xml version="1.0"?>
<robot name="open_manipulator_y_leader" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <xacro:property name="robot_model" value="$(env ROBOT_MODEL)" />

  <!-- Include OpenManipulator-Y_leader urdf macro -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/om_y_leader/open_manipulator_y_leader_arm.urdf" />

  <!-- Include OpenManipulator-Y Leader ros2 control macro -->
  <xacro:include filename="$(find open_manipulator_description)/ros2_control/open_manipulator_y_leader_system.ros2_control.xacro" />

  <!-- World -->
  <link name="world"/>

  <!-- Used for fixing OpenManipulator-Y -->
  <joint name="$(arg prefix)world_fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)link0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <xacro:open_manipulator_y_leader prefix="$(arg prefix)" />

  <xacro:open_manipulator_y_leader_system
    name="OpenManipulatorYLeaderSystem" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>
</robot>
